@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1a1a1a;
}

.tasksContainer {
  padding-bottom: 50px;
}

.imgLogo {
  display: flex;
  margin: auto;
  padding-top: 75px;
}

.backgroundBlack {
  background: #0d0d0d;
  height: 200px;
  width: 100%;
}

.content {
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 736px;
  margin-top: 19px;
}

.upperContent {
  text-align: center;
  margin: 0 auto;
  width: 736px;
  padding-top: 32px;
}

.addTaskInput {
  width: 86%;
  height: 54px;
  border: none;
  border-radius: 8px;
  padding: 0 10px;
  margin-top: 10px;
  background-color: #333333;
  color: white;
}

.addTaskInput:focus {
  outline: none;
  border: 1px solid #5e60ce;
}

.addTaskButton {
  width: 90px;
  height: 54px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #1e6f9f;
  color: white;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer;
  transition: ease-in 0.3s background-color;
}

.addTaskButton:hover {
  background-color: #4ea8de;
}

.addTaskButton .flex {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 2px;
}

.taskCreatedP {
  margin-top: 1px;
  color: #4ea8de;
  font-weight: bold;
}

.taskCompletedP {
  margin-top: 1px;
  color: #8284fa;
  font-weight: bold;
}

.counter {
  background-color: #333333;
  margin-left: 8px;
  border-radius: 999px;
  width: 25px;
  padding: 2px 8px;
}

.flex2 {
  display: flex;
}

.sp {
  justify-content: space-between;
  padding-top: 64px;
}

.noTasks {
  color: #808080;
  border-top: 1px solid #333333;
  padding: 64px;
  margin-top: 24px;
}

.nothingParagraph {
  padding-top: 16px;
}

.nothingParagraph :first-child {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 5px;
}

.task {
  display: flex;
  background-color: #262626;
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
}

.taskContent {
  width: 100%;
  line-break: anywhere;
  text-align: left;
  padding: 12px 16px;
}

.taskRemove {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 16px;
  color: #808080;
  transition: ease 0.3s color;
}

.taskRemove:hover {
  color: #ff4d4d;
}

/* checkbox css */

.taskCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 16px;
  margin-top: 9px;
  appearance: none;
  position: relative;
}

/* Create custom checkbox appearance */
.taskCheckbox[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #4ea8de;
  border-radius: 99px;
  position: relative;
}

/* Style custom checkbox when checked */
.taskCheckbox[type="checkbox"]:checked::before {
  background-color: #5e60ce; /* Change to your desired color */
  border: 2px solid #5e60ce;
}

/* Checkmark styling */
.taskCheckbox[type="checkbox"]:checked:after {
  content: "\2713";
  display: inline-block;
  position: absolute;
  top: 54%;
  left: 58%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.trashIcon {
  margin-top: 4px;
  font-size: 18px;
}
